body {
  background-color: rgb(255, 255, 255);
}

.left-name-box {
  display:inline-block;
  margin-left:0; 
  margin-right:auto;
  width:20%;
  border: .75rem rgb(107, 126, 107) solid;
}

.right-name-box {
  display:inline-block;
  margin-left:auto; 
  margin-right:100px;
  width:20%;
  border: .75rem rgb(107, 126, 107) solid;
}

img {
  border-radius: 50px;
}

.left-content-box {
  margin-top: 50px;
  vertical-align: top;
  display:inline-block;
  width:30%;
  height:100%;
  word-wrap: break-word;
  border: .75rem rgb(107, 126, 107) solid;
  margin-right: 100px;
}

.right-content-box {
  margin-top: 50px;
  vertical-align: top;
  display:inline-block;
  margin-left:100px;
  width:30%;
  word-wrap: break-word;
  border: .75rem rgb(107, 126, 107) solid;
}

.box-row {
  margin-left:50px;
  margin-right:50px;
}

/* browser normalizer code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}